.has_submenu {
  &:hover .submenu {
    opacity: 1;
    visibility: visible;
  }
}
.submenu {
  min-width: max-content;
  opacity: 0;
  visibility: hidden;
  top: calc(100% + 3px);
  left: 0;
  transition-property: opacity, visibility;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.burger_wrapper {
  &:hover .burger_menu {
    opacity: 1;
    visibility: visible;
  }
}

.burger_menu {
  opacity: 0;
  visibility: hidden;
  top: calc(100% + 15px);
  left: 50%;
  transform: translateX(-50%);
  transition-property: opacity, visibility;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
